{% extends 'base.html'%}

{% block breadcrumb %}
<li class="breadcrumb-item active " aria-current="page"><a href =" {% url 'home' %}">Boards</a></li>
{% endblock%}

{%block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
     
      <th scope="col">Boards</th>
      <th scope="col">Topics</th>
      <th scope="col">Posts</th>
    <th scope="col">Last Post</th>
    </tr>
  </thead>
  <tbody>
      {%for board in boards%}
    <tr>
      <td class="d-block align-middle">
        <a href = "{% url 'board_topics' board.pk %}">{{board.name}}</a><br>
          <small class= "text-muted">{{board.description}}</small>
        </td>
        <td class = "align-middle">0</td>
      <td class = "align-middle">0</td>
        <td class = "align-middle"></td>
    </tr>
      {%endfor%}
    
  </tbody>
</table>
{%endblock%}
       
       

      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
